
.contact-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding-top: 64px;
  width: 99.9%;
  height: 650px;
}
.contact-title {
  color: var(--primary);
  text-align: center;
  font-size: 34px;
}
.contact {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 450px;
}

.contact-form {
  width: 400px;
  height: 400px;
}

.input {
  width: 375px;
  height: 30px;
  border: none;
  margin-bottom: 16px;
  box-shadow: 0 0 5px rgb(233, 233, 233);
  font-family: "Merriweather", serif;
  transition: ease 1s;
}
.input:hover {
  border: none;
  box-shadow: 0 0 5px rgb(210, 210, 210);
  transition: ease 1s;
}
.input:focus {
  font-family: "Merriweather", serif;
  outline: none;
  box-shadow: 0 0 5px rgb(210, 210, 210);
}
.input-text {
  font-family: "Merriweather", serif;
  width: 375px;
  height: 90px;
  border: none;
  margin-bottom: 16px;
  box-shadow: 0 0 5px rgb(233, 233, 233);
  transition: ease 1s;
}
.input-text:hover {
  box-shadow: 0 0 5px rgb(210, 210, 210);
  transition: ease 1s;
}
.input-text:focus {
  font-family: "Merriweather", serif;
  outline: none;
  box-shadow: 0 0 5px rgb(210, 210, 210);
}
.submit-button {
  width: 376px;
  height: 40px;
  border: none;
  color: black;
  background: none;
  box-shadow: 0 0 5px rgb(241, 241, 241);
  background-color: var(--primary);
  color: white;
  transition: ease 1s;
  font-family: "Merriweather", serif;
}
.submit-button:hover {
  cursor: pointer;
  transition: ease 1s;
  background-color: #146c3a;
  box-shadow: 0 0 5px rgb(205, 204, 204);
}
.link {
  /* color: #007bff; */
  color: var(--primary);
  text-decoration: none;
  font-weight: bold;
}
.link:hover {
  /* color: #0056b3; */
  color: #146c3a;
  text-decoration: underline;
}
.contact-info {
  width: 400px;
  height: 400px;
}