
.intro-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
.intro-title {
  color: var(--primary);
  text-align: center;
  font-size: 34px;
}

.intro {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  height: 500px;
}
.bio {
  height: 300px;
  width: 400px;
  font-size: 14px;
}
.joel-img {
  height: 300px;
  width: 400px;
}