
.mission2-card {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 99.9%;
  height: 500px;
}

.mission2 {
  border: 1px solid black;
}