
.mission-cards {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 200px;
  max-width: 100%;
  height: 500px;
}

.mission {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  height: 350px;
}

.mission-img {
  max-width: 550px;
  height: 350px;
}