
.mission2-card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding-top: 50px;
  width: 100%;
  height: 700px;
}

.mission2 {
  height: 425px;
  width: 850px;
  font-size: 14px;
}
.mission2-title {
  color: var(--primary);
  text-align: center;
  font-size: 34px;
}